<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Página Principal</title>
</head>
<body>
    <main class="container">
        <h1>Bem-vindo à Página Principal</h1>
        
        {% if user_type == 'cliente' %}
        <!-- Formulário de pesquisa para clientes -->
        <form action="{{ url_for('pesquisar_corretores') }}" method="POST">
            <label for="termo_pesquisa">Pesquisar Corretores:</label>
            <input type="text" id="termo_pesquisa" name="termo_pesquisa" required>
            <button type="submit">Pesquisar</button>
        </form>
        {% elif user_type == 'corretor' %}
        <!-- Link para cadastro de planos para corretores -->
        <a href="{{ url_for('cadastro_planos') }}">Cadastrar Planos Atendidos</a>
        {% endif %}

        <!-- Aqui você pode adicionar outras seções ou conteúdo da página principal -->
    </main>
</body>
</html>
