*{
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(26,200,134,1) 0%, rgba(0,255,201,1) 50%, rgba(26,200,134,1) 100%);
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1vw 1vw 30px rgba(26,200,134,1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #03b16e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0dfca0;
}

.btn-cad{
    margin-top: 10px;
    background-color: #03b16e;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
.col-nome {
    width: 40%; /* Definindo largura para o nome */
}
.col-email {
    width: 30%; /* Definindo largura para o email */
}
.col-numero {
    width: 30%; /* Definindo largura para o número de registro */
}